{
  "extends": [
    "eslint:recommended",
    "plugin:import/warnings"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
    "no-debugger": 0,
    "no-console": 0,
    "no-case-declarations": 1,
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-undef": 1,
    "eol-last": 0,
    "quotes": [1, "single", { "allowTemplateLiterals": true }],
    "no-unused-vars": 1,
    "comma-dangle": 0,
    "no-class-assign": 0,
    "arrow-spacing": 2,
    "no-mixed-spaces-and-tabs": 2,
    "jsx-quotes": [2, "prefer-double"],
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  }
}
