* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.app {
    width: 100%;
    padding: 10px;
}


@import "./wrapper.scss";
@import "./todoList.scss";
@import "./todoItem.scss";